body{
    margin: 0;
    background-color: #0F0F0F;
    font-family: "Sora", sans-serif;
}

.section-1{
    background-image: url(/images/home-page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin-left: 162px;
    margin-right: 162px;
}

.nav-row{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-main-row{
    padding: 24px 0px 24px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-active-btn{
    background-color: #1A1A1A;
    border-radius: 84px;
    padding: 16px 24px 16px 24px;
    border: 1px solid #1F1F1F;
}




/* Homepage content column */

.home-page-column{
    margin-top: 188px;
    width: 798px;
    display: flex;
    flex-direction: column;
}

.home-page-title{
    font-size: 58px;
    color: #666666;
}

.home-page-subtitle{
    margin-top: 20px;
    font-size: 18px;
    color: #808080;
}

.under-button-text{
    color: white;
    margin-top: 60px;
}

.home-page-button-row{
    display: flex;
    padding-bottom: 180px;
}

.first-button,
.second-button
{   
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 56px;
    padding: 18px 24px;
    background-color: #1F1F1F;
}

.first-button{
    background-color: #ffffff;
    color: #1A1A1A;
}
.second-button{
    border: 1px solid #262626;
    background-color: #1A1A1A;
}

.home-page-title span{
    color: #ffffff;
}



/* Section-2 */
.section-2-title{
    margin-top: 150px;
    color: #ffffff;
    text-align: center;
    font-size: 48px;
}

.section-2-subtitle{
    margin-top: 20px;
    color: #808080;
    font-size: 18;
    text-align: center;
    margin-bottom: 100px;
}

.section-2-title span{
    color: #666666;
}

.circle-avatar-img{
    padding: 24px;
    border-radius: 100%;
    border: 10px solid #4D4D4D;
}

.section-2-content-column{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #1F1F1F;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid #1F1F1F;
}

.row-line{
    width: 100%;
    height: 1px;
    background-color: #1F1F1F;
}
.section-2-content-title{
    color: #ffffff;
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
    
}

.section-2-content-subtitle{
    color: #8C8C8C;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
}

.section-2-content-btn{
    margin-top: 50px;
    border-radius: 100px;
    border: 1px solid #1F1F1F;
    display: flex;
    align-items: center;
    padding: 24px 34px;
}

.section-2-content-btn-text{
    padding-right: 30px;
    color: #ffffff;
    font-size: 18px;
}

.section-2card-row{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-2-content-btn-icon{
    background-color: #1A1A1A;
    padding: 10px 20px;
    border-radius: 135px;
    display: flex;
}



/* Section 3 */

.section-3-title{
    margin-top: 150px;
    font-size: 48px;
    color: white;
    text-align: center;
}

.section-3-subtitle{
    margin-bottom: 70px;
    margin-top: 20px;
    font-size: 18px;
    color: #8C8C8C;
    text-align: center;
}

.section-3-avatar{
    padding: 20px;
    border: 4px solid #333333;
    border-radius: 100px;
}

.section-3-card-column{
    background-image: url(/images/sections-3-icons/section-3-card-bg.png);
    border-radius: 20px;
    height: 500px;
    border: 1px solid #292929;
    background-repeat: no-repeat;
    background-size: cover;
    padding:80px;
    width: 50%;
    border-radius: 20px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-3-card-column-title{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.section-3-card-column-subtitle{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #8C8C8C;
}

.section-3-card-column-btn{
    margin-top: 50px;
    border-radius: 74px;
    border: 1px solid gray;
    padding: 18px 24px;
}


.section-3-card-column-img{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-3-row-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Section-4 */

.section-4-title{
    font-size: 48px;
    color:#ffffff;
    text-align: center;
    margin-top: 150px;
}

.section-4-subtitle{
    margin-top: 20px;
    font-size: 18px;
    color: #666666;
    text-align: center;
}

.section-4-card{
    display: block;
    border: 1px solid #1F1F1F;
    border-radius: 20px;
    background-color: #1f1f1f11;
    padding-bottom: 50px;
    padding: 50px;
    width: 42.5%;
}


.section-4-img{
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.section-4-card-btn{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -65px;
    padding: 18px 24px;
    border: 1px solid #26262644;
    border-radius: 74px;
    width: fit-content;
    color: white;
    background-color: #1a1a1aab;
}


.section-4-row{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.section-4-card-title{
    font-size: 24px;
    text-align: left;
    color: white;
    margin-top: 50px;
}

.date-row-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 24px;
}

.section-4-description{
    color: #8C8C8C;
    margin-top: 24px;
}

.section-4-card-info-column{
    
}

.all-project-btn{
    margin-top: 150px;
    padding-bottom: 100px;
}



/* Section - 5 */

.section-5-card-column{
    width: 510px;
    height: fit-content;
    border: 1px solid #262626;
    border-radius: 20px;
    padding: 40px;
    background-color: #1a1a1a29;
    flex-shrink: 0; /* Prevent items from shrinking */
    display: inline-block; /* Maintain inline display for scrolling */
    animation: scroll 20s linear infinite;
}

.section-5-card-row::-webkit-scrollbar {
    width: 0;  /* for Chrome, Safari, and Opera */
}

.section-5-card-row {
    scrollbar-width: none;  /* for Firefox */
    -ms-overflow-style: none;  /* for Internet Explorer/Edge */
}

.section-5-card-column img{
    width: 70px;
    height: 70px;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}
.section-5-card-row{
    margin-top: 60px;
    display: flex;
    overflow-x: auto;
}

.section-5-card-column {
margin: 20px;
}

.section-5-card-row-text{
    margin-top: 30px;
    font-size: 18px;
    color: white;
    padding-bottom: 15px;
    font-weight: 200;
}

@keyframes scroll {
    0% { transform: translateX(0); } /* Start from the original position */
    100% { transform: translateX(-100%); } /* Scroll all the way to the left */
}



/* footer */

.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-row{
    display: flex;
    align-items: center;
}

.social-row img{
    padding: 20px;
    border-radius: 66px;
    border: 1px solid #262626;
}

footer{
    padding-bottom: 50px;
}

.social-row p{
    color: white;
    font-size: 18px;
    padding-right: 20px;
    font-weight: 300;
}

.footer-nav{
    margin-top: 150px;
    padding-bottom: 30px;
    border-bottom: 1px solid #1F1F1F;
}

.footer-down-text-row{
    display: flex;
    justify-content: space-between;
}


.footer-text-column{
    color: #808080;

}

h4{
    color: white;
}

h5,h4{
    font-weight: 300;
    font-size: 18px;
}

.footer-text-row{
    display: flex;
    justify-content: space-between;
}

.footer-down-text{
    margin-top: 80px;
    padding-top: 30px;
    border-top: 1px solid #1F1F1F;
    color: #808080;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-down-text h4{
    color: #808080;
    font-weight: 300;
    padding-left: 20px;
    font-size: 18px;
}

.social-row img{
    margin-left: 14px;
}


@media screen and (max-width: 1450px){
    .section-2card-row {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .section-2-content-column {
        width: 100%;
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #1F1F1F;
        border: 1px solid #1F1F1F;
        padding: 50px;
    }
    .section-3-row-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .section-3-card-column{
        width: 100%;
    }
    .section-4-row {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .section-4-card{
        width: 90%;
        margin-top: 50px;
    }
    
    .footer-text-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .footer-text-column{
        color: #808080;
        margin: 0px 30px;
    }


}

@media screen and (max-width: 1000px){
    .section-3-card-column-subtitle {
        font-size: 12px;
    }
    .home-page-column {
        margin-top: 188px;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

}


@media screen and (max-width: 1100px){
    .nav-row{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .home-page-subtitle{
        font-size: 11px;
    }
    .home-page-title {
        font-size: 42px;
        color: #666666;
    }
    .under-button-text {
        font-size: 11px;
    }
    .section-2-title {
        font-size: 27px;
    }
    .section-3-title{
        font-size: 27px;
    }
    .section-4-title{
        font-size: 27px;
    }
    .section-5-title{
        font-size: 27px;
    }
    .first-button, .second-button {
        margin-right: 10px;
        margin-top: 20px;
        border-radius: 56px;
        font-size: 11px;
        padding: 10px 24px;
    }
    .section-2-subtitle {
        font-size: 14px;
    }
    
    .section-3-subtitle{
        font-size: 14px;
    }
    .section-4-subtitle{
        font-size: 14px;
    }
    .section-5-subtitle{
        font-size: 14px;
    }
    .section-2-content-btn {
        margin-top: 40px;
        border-radius: 100px;
        border: 1px solid #1F1F1F;
        display: flex;
        align-items: center;
        padding: 10px 15px;
    }
    .section-2-content-btn-text {
        padding-right: 30px;
        color: #ffffff;
        font-size: 11px;
    }
    .section-3-card-column{
        padding: 25px;
    }
    .section-3-card-column-btn {
        margin-top: 30px;
        border-radius: 74px;
        border: 1px solid gray;
        padding: 10px 24px;
    }
    .section-4-description {
        color: #8C8C8C;
        margin-top: 24px;
        font-size: 11px;
    }
    .section-4-card-title {
        font-size: 20px;
        text-align: left;
        color: white;
        margin-top: 50px;
    }
    .section-4-category{
        font-size: 12px;
    }
    .section-4-date{
        font-size: 12px;
    }
    .section-4-card-btn {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        padding: 10px 24px;
        border: 1px solid #26262644;
        border-radius: 74px;
        width: fit-content;
        font-size: 12px;
        color: white;
        background-color: #1a1a1aab;
    }
    .section-3-card-column-img{
        font-size: 12px;
    }
    .section-5-card-column {
        margin: 20px;
    }
    
    .section-5-card-column {
        width: 90%;
        height: fit-content;
        border: 1px solid #262626;
        border-radius: 20px;
        padding: 20px;
        background-color: #1a1a1a29;
        flex-shrink: 0;
        display: inline-block;
        animation: scroll 20s linear infinite;
    }
    .section-5-card-row-text {
        margin-top: 20px;
        font-size: 12px;
        color: white;
        padding-bottom: 15px;
        font-weight: 200;
    }
    .section-5-card-column img {
        width: 45px;
        height: 45px;
        padding: 14px;
        border: 1px solid #262626;
        border-radius: 8px;
    }
    h5,h4{
        font-size: 12px;
    }
    .footer-text-column {
        color: #808080;
        margin: 0px;
    }
    .social-row img {
        padding: 14px;
        border-radius: 66px;
        border: 1px solid #262626;
    }
    .section-3-avatar {
        width: 35px;
        padding: 15px;
        border: 4px solid #333333;
        border-radius: 100px;
    }
    .section-3-card-column-title {
        margin-top: 50px;
        text-align: center;
        font-size: 22px;
        color: white;
    }
    .circle-avatar-img {
        padding: 15px;
        border-radius: 100%;
        border: 5px solid #4D4D4D;
        width: 30px;
    }
    .section-2-content-subtitle {
        color: #8C8C8C;
        font-size: 11px;
        margin-top: 20px;
        text-align: center;
    }
    .section-2-content-title {
        color: #ffffff;
        font-size: 18px;
        margin-top: 30px;
        text-align: center;
    }
    .section-2-content-btn-icon img{
        width: 30px;
    }
    .section-2-content-btn-icon {
        background-color: #1A1A1A;
        padding: 5px 20px;
        border-radius: 135px;
        display: flex;
    }

}